<header>
  <div class="header__top">
    <div class="header__left">
      <a href="index.html"><img src="img/それ以外/logo/プロヴァンサルロゴ２.jpg" alt="" width="200"></a>
    </div>
    <div class="header__right">
      <p class="pc">
        <a href="https://www.facebook.com/shinjukuprovencale/">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/provencale_2525/?hl=ja">
          <i class="fab fa-instagram"></i>
        </a>
      </p>
      <p class="sp menu-b"><i class="fas fa-bars"></i></p>
    </div>
  </div>
  <nav class="pc">
    <ul>
      <div class="line"></div>
      <li><a href="../foodmenu.html">フードメニュー<span>FOODMENU</span></a></li>
      <div class="line"></div>
      <li><a href="../drinkmenu.html">ドリンクメニュー<span>DRINKMENU</span></a></li>
      <div class="line"></div>
      <li><a href="../index.html#access">アクセス<span>ACCESS</span></a></li>
      <div class="line"></div>
      <li><a href="../aboutStore.html">店舗について<span>ABOUT</span></a></li>
      <div class="line"></div>
      <li><a href="http://bisyoku8113.blog69.fc2.com/">ブログ<span>BLOG</span></a></li>
      <div class="line"></div>
    </ul>
  </nav>
  <nav class="sp menu">
    <ul>
      <li><a href="../foodmenu.html">フードメニュー<span>FOODMENU</span></a></li>
      <li><a href="../drinkmenu.html">ドリンクメニュー<span>DRINKMENU</span></a></li>
      <li><a href="../index.html#access">アクセス<span>ACCESS</span></a></li>
      <li><a href="../aboutStore.html">店舗について<span>ABOUT</span></a></li>
      <li><a href="http://bisyoku8113.blog69.fc2.com/">ブログ<span>BLOG</span></a></li>
    </ul>
  </nav>
</header>